<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/agreementForm.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <title>약관 동의</title>
</head>
<body>
<header>
    <div class="header-container">
        <div class="header-container-section">
            <!-- 은행 로고 이미지 -->
            <a th:href="@{/}" class="logo">
                <img th:src="@{/images/logo.png}" alt="우리 은행 로고" class="logo-img">
            </a>
        </div>
    </div>
</header>

<div class="container">
    <div class="agreement-section">
        <h2>전자금융거래 기본약관</h2>
        <div class="scrollable-content">
            <p>제1조(목적)</p>
            <p>
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
            </p>
            <p>제2조(용어의 정의)</p>
            <p>
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
            </p>
        </div>
    </div>

    <div class="checkbox-container">
        <input type="checkbox" id="agree-checkbox-1">
        <label for="agree-checkbox-1">위 약관의 내용을 확인하고 동의합니다.</label>
    </div>

    <div class="agreement-section">
        <h2>전자뱅킹서비스 이용약관</h2>
        <div class="scrollable-content">
            <p>제1조(서비스의 종류)</p>
            <p>① 은행에서 제공하는 서비스는 전자뱅킹서비스(인터넷뱅킹, 스마트뱅킹 등), SCRAPING서비스, 기타 서비스 등이며...</p>
            <p>
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
            </p>
            <p>제2조(서비스의 종류)</p>
            <p>① 은행에서 제공하는 서비스는 전자뱅킹서비스(인터넷뱅킹, 스마트뱅킹 등), SCRAPING서비스, 기타 서비스 등이며...</p>
            <p>
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
                이 약관은 우리은행(이하 “은행”이라 합니다)과 이용자 사이의 전자금융거래에 관한 기본적인 사항을 정함으로써,
                거래의 신속하고 효율적인 처리를 도모하고 거래당사자 상호간의 이해관계를 합리적으로 조정하는 것을 목적으로 합니다.
            </p>
        </div>
    </div>

    <div class="checkbox-container">
        <input type="checkbox" id="agree-checkbox2">
        <label for="agree-checkbox2">위 약관의 내용을 확인하고 동의합니다.</label>
    </div>

    <div class="button-container">
        <button type="button" class="confirm-btn">확인</button>
        <button type="button" class="cancel-btn">취소</button>
    </div>
</div>

<footer id="footer">
    <div>

        <div class="nav-fnb1">

            <dl data-autoset="menuover" class="">
                <dt role="button" tabindex="0" class="btn" data-menu="btn">대표전화 1588-5000</dt>
            </dl>

            <dl data-autoset="menuover">
                <dt role="button" tabindex="0" class="btn" data-menu="btn">이용안내</dt>
            </dl>

            <dl data-autoset="menuover">
                <dt role="button" tabindex="0" class="btn" data-menu="btn">기타서비스</dt>
            </dl>

            <dl data-autoset="menuover">
                <dt role="button" tabindex="0" class="btn" data-menu="btn">서식자료실</dt>
            </dl>

            <dl data-autoset="menuover">
                <dt role="button" tabindex="0" class="btn" data-menu="btn">기업뱅킹 체험관</dt>
            </dl>

            <dl data-autoset="menuover">
                <dt role="button" tabindex="0" class="btn" data-menu="btn">타기관 OTP 등록(불량 교체)</dt>
            </dl>
        </div>
        <div class="nav-lang" data-autoset="menu">
            <dl>
                <dt role="button" tabindex="0" class="btn" data-menu="btn" aria-expanded="false">LANGUAGE</dt>
            </dl>
        </div>


        <div class="nav-site" data-autoset="menu">
            <dl>
                <dd data-menu="con" class="expand" data-label="패밀리사이트">
                    <div>
                        <a target="_blank" title="새창" href="https://www.woorifg.com/">우리금융지주</a>
                        <a target="_blank" title="새창" href="http://www.wooriam.kr/">우리자산운용</a>
                        <a target="_blank" title="새창" href="http://www.woorifis.com/">우리FIS</a>
                    </div>
                    <div>
                        <a target="_blank" title="새창" href="https://www.wooricard.com/">우리카드</a>
                        <a target="_blank" title="새창" href="https://www.woorisavingsbank.com/">우리금융저축은행</a>
                        <a target="_blank" title="새창" href="http://www.wfri.re.kr/">우리금융경영연구소</a>
                    </div>
                    <div>
                        <a target="_blank" title="새창" href="https://www.woorifcapital.com/">우리금융캐피탈</a>
                        <a target="_blank" title="새창" href="https://www.wooricredit.com/">우리신용정보</a>
                        <a target="_blank" title="새창" href="https://www.woorifoundation.or.kr/">우리다문화장학재단</a>
                    </div>
                    <div>
                        <a target="_blank" title="새창" href="https://www.wooriib.com/">우리투자증권</a>
                        <a target="_blank" title="새창" href="http://www.woorifs.co.kr/">우리펀드서비스</a>
                        <a target="_blank" title="새창" href="http://www.woorimiso.or.kr/">우리미소금융재단</a>
                    </div>
                    <div>
                        <a target="_blank" title="새창" href="http://www.wooriat.com/">우리자산신탁</a>
                        <a target="_blank" title="새창" href="http://www.wooripe.com/">우리PE</a>
                    </div>
                </dd>
            </dl>
        </div>

    </div>
    <div>

        <nav class="nav-fnb2">
            <a href="https://spot.wooribank.com/pot/Dream?withyou=bp">은행소개</a>
            <a href="#popup" title="새창" onclick="wb.pop.openWindow('https://spib.wooribank.com/pib/Dream?withyou=CMCOM0153', 'branch','894','710','1','1');return false;">영업점 안내</a>
            <a href="https://spot.wooribank.com/pot/Dream?withyou=CQSCT0048">개인정보처리방침</a>
            <a href="https://spot.wooribank.com/pot/Dream?withyou=CQSCT0132">신용정보활용체제</a>
            <a href="https://spot.wooribank.com/pot/Dream?withyou=CQSCT0049">개인신용정보관리보호</a>
            <a href="https://spot.wooribank.com/pot/Dream?withyou=CQACR0001">사고신고</a>
            <a href="https://spot.wooribank.com/pot/Dream?withyou=CQCSD0001">전자민원접수</a>
            <a href="https://spot.wooribank.com/pot/Dream?withyou=POTRT0033">보호금융상품등록부</a>
            <a href="https://spot.wooribank.com/pot/Dream?withyou=CQPNC0002">상품공시실</a>
            <a href="https://spot.wooribank.com/pot/Dream?withyou=CQSCT0001">보안센터</a>
            <a href="https://spot.wooribank.com/pot/Dream?withyou=CQIBG0050">웹접근성 이용안내</a>
        </nav>

        <p class="copyr">COPYRIGHTS WOORI BANK. ALL RIGHTS RESERVED.</p>

        <div class="info">
            <span class="img1" data-ellipsis="true" target="_blank"> 국가공인 정보통신접근성 품질인증마크 </span>
            <span class="img2" data-ellipsis="true" tabindex="0">2019 고객감동경영대상 종합대상 12년 연속 수상</span>
            <span class="img3" data-ellipsis="true" tabindex="0">The Banker Awards 2020 우리은행 3관왕 수상</span>
        </div>
    </div>
</footer>

</body>
</html>
